body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.navbar {
    list-style: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

h1, h2, h3 {
    color: #fff;  /* Adjusted for better visibility against darker backgrounds */
}

#hero {
    background: url('\code.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-align: left;
    padding: 100px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hero-container {
    margin-left: 50px;
    width: 40%;
}

#hero h1 {
    margin-top: 0;
    font-size: 2.5em;
}

#hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#hero button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #333;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#hero button:hover {
    background-color: #555;
}

.marquee {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.marquee p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px; /* Adjust based on your design */
    text-align: center;
    /* Continuous scroll effect */
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}



.project, .faq-item, .video, article {
    margin: 20px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 5px solid #333;
}

.social-links a {
    margin-right: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #222;
    color: #fff;
}
